.bodyhome{
  background-color: #1e1e1e;
}

.homeheader{
    color: #242424;
    background-color: #dedede;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
}

.homefooter{
    color: #242424;
    background-color: #dedede;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}